<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active">
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Integrations
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between
                   align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved Reports</span>
      <a class="d-flex align-items-center text-muted">
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link">
          Current Month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Last Quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>
